* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
form {
  width: 50%;
  margin: auto;
  padding: 1rem;
  font-family: monospace;
  font-size: 1.1rem;
}
form h2 {
  font-family: sans-serif;
}
form label {
  display: block;
}
form input {
  width: 100%;
  height: 5vh;
}
form textarea {
  width: 100%;
}
form button {
  display: block;
  padding: 10px;
}
